In [3]:

import requests
from pprint import pprint
import pandas as pd
from datetime import datetime

In [4]:
#Base URL for API call
base_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/"

fatal_cases = []

# writing a for loop for all 50 states and from 2018 - 2021 so it doesn't exceed API call limit
for state in range(50):
    for y_since_2018 in range(4):
        response  = requests.get(base_url + f"GetCaseList?states={state}&fromYear={2018 + y_since_2018}&toYear={2018 + y_since_2018}&minNumOfVehicles=0&maxNumOfVehicles=10&format=json")
        data = response.json()
        fatal_cases += data["Results"][0]

In [5]:
df = pd.DataFrame(fatal_cases)
df.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles
0,TALLADEGA (121),/Date(1515150000000-0500)/,1,0,1,10001,1,Alabama,2
1,WALKER (127),/Date(1515390480000-0500)/,2,0,2,10002,1,Alabama,1
2,CHILTON (21),/Date(1515469800000-0500)/,1,0,2,10003,1,Alabama,2
3,BALDWIN (3),/Date(1515520920000-0500)/,1,0,2,10004,1,Alabama,1
4,JEFFERSON (73),/Date(1516363740000-0500)/,1,0,2,10005,1,Alabama,2

In [6]:
#filter out the problematic dates
df_filtered = df[df["CrashDate"] != "/Date(-62135578800000-0500)/"]
df_filtered.loc[:, "CrashDate"] = df_filtered["CrashDate"].apply(lambda x: datetime.fromtimestamp(int(x[6:19])/1000))

df_filtered = df_filtered.sort_values(by = "CrashDate")

df_filtered = df_filtered.reset_index(drop=True)

df_filtered.head()

#save df crash list to csv
df_filtered.to_csv("./Resources/CrashList.csv")

In [7]:
import concurrent.futures

people_involved = []

def worker(lower, upper):
    for idx in range(lower, upper):
        row = df_filtered.iloc[idx, :]
        state_case = row["St_Case"]
        state_case_year = row["CrashDate"].strftime('%Y')
        state_number = row["State"]

        # Information during the long list of API calls
        if idx % 500 == 0:
            print(f"Starting the {idx}th run")

        try:
            response = requests.get(base_url + f"GetCaseDetails?stateCase={state_case}&caseYear={state_case_year}&state={state_number}&format=json")
            data = response.json()

            #Get the list of people who are involved in the crash
            persons_data = data["Results"][0][0]["CrashResultSet"]['Vehicles'][0]['Persons']

            for person in persons_data:
                st_case = person['ST_CASE']
                age = person["AGE"]
                sex = person["SEX"]
                race = person['RACENAME']
                seat_pos = person["SEAT_POSNAME"]
                air_bag_deployed = False if person["AIR_BAGNAME"] == "Not Deployed" else True
                fatal = False if person["DEATH_DA"] == "88" else True
                isDrug = person['DRUGSNAME']
                isDrunk = person['DRINKINGNAME']
                BAC = person["ALC_RESNAME"]
                case_date = person['CaseYear'] + '-' + person["MONTH"].zfill(2) + '-' + person["DAY"].zfill(2)
                make_name = person['MAKENAME']
                mod_name = person['MAK_MODNAME']
                mod_year = person['MOD_YEAR']
                state = row["StateName"]
                county = person['COUNTYNAME']

                people_involved.append(
                    {
                        "St Case Num": st_case,
                        "Age": age,
                        "Sex": sex,
                        "Race": race,
                        "Seat Pos": seat_pos,
                        "AirBag Deployed": air_bag_deployed,
                        "Is Fatal": fatal,
                        "Is Drug": isDrug,
                        "Is Drunk": isDrunk,
                        "BAC": BAC,
                        "Case Date": case_date,
                        "Make Name": make_name,
                        "Model Name": mod_name,
                        "Model Year": mod_year,
                        "State": state,
                        "County": county
                    }
                )
        except Exception as e:
            print(idx)
            print(row)
            print("Cannot retrieve data. The following error occurred", e)

# Number of workers (threads) to run in parallel
num_workers = 100

# Calculate the range for each worker
total_rows = len(df_filtered)
chunk_size = total_rows // num_workers
ranges = [(i * chunk_size, (i + 1) * chunk_size) for i in range(num_workers)]
# Adjust the last worker's upper range to cover remaining rows
ranges[-1] = (ranges[-1][0], total_rows)

# Create a ThreadPoolExecutor
with concurrent.futures.ThreadPoolExecutor(max_workers=num_workers) as executor:
    # Submit jobs to the executor
    futures = [executor.submit(worker, lower, upper) for lower, upper in ranges]

    # Wait for all futures to complete
    concurrent.futures.wait(futures)

# At this point, all workers have finished and populated the people_involved list

Starting the 0th run

25385
CountyName               LASSEN (35)
CrashDate        2018-10-19 09:00:00
Fatals                             1
Peds                               0
Persons                            3
St_Case                        62269
State                              6
StateName                 California
TotalVehicles                      2
Name: 25385, dtype: object
Cannot retrieve data. The following error occurred ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
110888
CountyName             MARICOPA (13)
CrashDate        2021-06-04 05:39:00
Fatals                             1
Peds                               1
Persons                            1
St_Case                        40962
State                              4
StateName                    Arizona
TotalVehicles                      1
Name: 110888, dtype: object
Cannot retrieve data. The following error occurred ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response'))
Starting the 81500th run
Starting the 77500th run
76154
CountyName               STARK (151)
CrashDate        2020-06-15 16:34:00
Fatals                             1
Peds                               0
Persons                            3
St_Case                       390498
State                             39
StateName                       Ohio
TotalVehicles                      2
Name: 76154, dtype: object
Cannot retrieve data. The following error occurred Expecting value: line 1 column 1 (char 0)
70816
CountyName           ROBERTSON (147)
CrashDate        2020-04-15 06:20:00
Fatals                             1
Peds                               0
Persons                            2
St_Case                       470253
State                             47
StateName                  Tennessee
TotalVehicles                      2
Name: 70816, dtype: object
Cannot retrieve data. The following error occurred Expecting value: line 1 column 1 (char 0)
49441
CountyName         ST. TAMMANY (103)
CrashDate        2019-08-02 18:25:00
Fatals                             1
Peds                               0
Persons                            2
St_Case                       220374
State                             22
StateName                  Louisiana
TotalVehicles                      2
Name: 49441, dtype: object
Cannot retrieve data. The following error occurred Expecting value: line 1 column 1 (char 0)
9356
CountyName          LOS ANGELES (37)
CrashDate        2018-04-28 18:25:00
Fatals                             3
Peds                               0
Persons                            6
St_Case                        60544
State                              6
StateName                 California
TotalVehicles                      2
Name: 9356, dtype: object
Cannot retrieve data. The following error occurred Expecting value: line 1 column 1 (char 0)
4031
CountyName              HARRIS (201)
CrashDate        2018-02-20 18:19:00
Fatals                             1
Peds                               0
Persons                            3
St_Case                       480375
State                             48
StateName                      Texas
TotalVehicles                      3
Name: 4031, dtype: object
Cannot retrieve data. The following error occurred Expecting value: line 1 column 1 (char 0)
Starting the 73500th run
Starting the 69500th run
Starting the 65500th run
Starting the 61500th run
Starting the 57500th run
Starting the 53500th run
Starting the 49500th run
Starting the 45500th run
Starting the 131000th run
Starting the 41500th run
Starting the 127000th run
Starting the 123000th run
Starting the 33500th run
Starting the 37500th run
Starting the 115000th run
Starting the 119000th run
Starting the 25500th run
Starting the 111000th run
Starting the 21500th run
Starting the 107000th run
Starting the 17500th run
Starting the 103000th run
Starting the 13500th run
Starting the 5500th run
Starting the 91000th run
Starting the 87000th run
Starting the 9500th run
Starting the 95000th run
Starting the 1500th run
Starting the 99000th run
Starting the 83000th run
Starting the 75000th run
Starting the 79000th run
Starting the 71000th run
Starting the 67000th run
Starting the 59000th run
Starting the 63000th run
Starting the 55000th run
Starting the 51000th run
Starting the 47000th run
Starting the 43000th run
Starting the 39000th run
Starting the 132500th run
Starting the 124500th run
Starting the 128500th run
Starting the 35000th run
Starting the 31000th run
Starting the 27000th run
Starting the 23000th run
Starting the 116500th run
Starting the 108500th run
Starting the 120500th run
Starting the 19000th run
Starting the 112500th run
Starting the 15000th run
Starting the 11000th run
Starting the 104500th run
Starting the 7000th run
Starting the 88500th run
Starting the 96500th run
Starting the 100500th run
Starting the 3000th run
Starting the 92500th run
Starting the 84500th run
Starting the 80500th run
Starting the 76500th run
Starting the 72500th run
Starting the 68500th run
Starting the 64500th run
Starting the 60500th run
Starting the 56500th run
Starting the 52500th run
Starting the 44500th run
Starting the 48500th run
Starting the 40500th run
Starting the 36500th run
Starting the 32500th run
Starting the 130000th run

In [ ]:
print(people_involved[0])

{'St Case Num': '470714', 'Age': '57', 'Sex': '1', 'Race': None, 'Seat Pos': 'Front Seat, Left Side', 'AirBag Deployed': False, 'Is Fatal': True, 'Is Drug': 'Reported as Unknown', 'Is Drunk': 'Reported as Unknown', 'BAC': 'Test Not Given', 'Case Date': '2019-09-15', 'Make Name': 'Harley-Davidson', 'Model Name': 'Harley-Davidson 750cc or greater', 'Model Year': '2014', 'State': 'Tennessee', 'County': 'SHELBY (157)'}

In [ ]:
print(len(people_involved))

188245

In [ ]:
df_single_pass = pd.DataFrame(people_involved).reset_index(drop = True)
df_single_pass.to_csv("./Resources/People_Involved.csv")