In [26]:

import requests
from pprint import pprint
import pandas as pd
from datetime import datetime

In [27]:
#Base URL for API call
base_url = "https://crashviewer.nhtsa.dot.gov/CrashAPI/crashes/"

fatal_cases = []

# writing a for loop for all 50 states and from 2018 - 2021 so it doesn't exceed API call limit
for state in range(50):
    for y_since_2018 in range(4):
        response  = requests.get(base_url + f"GetCaseList?states={state}&fromYear={2018 + y_since_2018}&toYear={2018 + y_since_2018}&minNumOfVehicles=0&maxNumOfVehicles=10&format=json")
        data = response.json()
        fatal_cases += data["Results"][0]

In [59]:
df = pd.DataFrame(fatal_cases)
df.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles
0,TALLADEGA (121),/Date(1515150000000-0500)/,1,0,1,10001,1,Alabama,2
1,WALKER (127),/Date(1515390480000-0500)/,2,0,2,10002,1,Alabama,1
2,CHILTON (21),/Date(1515469800000-0500)/,1,0,2,10003,1,Alabama,2
3,BALDWIN (3),/Date(1515520920000-0500)/,1,0,2,10004,1,Alabama,1
4,JEFFERSON (73),/Date(1516363740000-0500)/,1,0,2,10005,1,Alabama,2

In [63]:
#filter out the problematic dates
df_filtered = df[df["CrashDate"] != "/Date(-62135578800000-0500)/"]
df_filtered.loc[:, "CrashDate"] = df_filtered["CrashDate"].apply(lambda x: datetime.fromtimestamp(int(x[6:19])/1000))

df_filtered = df_filtered.sort_values(by = "CrashDate")

df_filtered = df_filtered.reset_index(drop=True)

df_filtered.head()

,CountyName,CrashDate,Fatals,Peds,Persons,St_Case,State,StateName,TotalVehicles
0,RIVERSIDE (65),2017-12-31 23:01:00,1,0,4,63463,6,California,2
1,LAKE (69),2017-12-31 23:15:00,1,0,1,120156,12,Florida,1
2,DOUGLAS (55),2017-12-31 23:20:00,1,0,2,310001,31,Nebraska,2
3,GREGG (183),2017-12-31 23:22:00,1,0,1,480010,48,Texas,1
4,DALLAS (113),2017-12-31 23:30:00,2,0,2,480006,48,Texas,2

In [69]:
import concurrent.futures

people_involved = []

def worker(lower, upper):
    for idx in range(lower, upper):
        row = df_filtered.iloc[idx, :]
        state_case = row["St_Case"]
        state_case_year = row["CrashDate"].strftime('%Y')
        state_number = row["State"]

        # Information during the long list of API calls
        if idx % 500 == 0:
            print(f"Starting the {idx}th run")

        try:
            response = requests.get(base_url + f"GetCaseDetails?stateCase={state_case}&caseYear={state_case_year}&state={state_number}&format=json")
            data = response.json()

            #Get the list of people who are involved in the crash
            persons_data = data["Results"][0][0]["CrashResultSet"]['Vehicles'][0]['Persons']

            for person in persons_data:
                st_case = person['ST_CASE']
                age = person["AGE"]
                sex = person["SEX"]
                race = person['RACENAME']
                seat_pos = person["SEAT_POSNAME"]
                air_bag_deployed = False if person["AIR_BAGNAME"] == "Not Deployed" else True
                fatal = False if person["DEATH_DA"] == "88" else True
                isDrug = person['DRUGSNAME']
                isDrunk = person['DRINKINGNAME']
                BAC = person["ALC_RESNAME"]
                case_date = person['CaseYear'] + '-' + person["MONTH"].zfill(2) + '-' + person["DAY"].zfill(2)
                make_name = person['MAKENAME']
                mod_name = person['MAK_MODNAME']
                mod_year = person['MOD_YEAR']
                state = row["StateName"]
                county = person['COUNTYNAME']

                people_involved.append(
                    {
                        "St Case Num": st_case,
                        "Age": age,
                        "Sex": sex,
                        "Race": race,
                        "Seat Pos": seat_pos,
                        "AirBag Deployed": air_bag_deployed,
                        "Is Fatal": fatal,
                        "Is Drug": isDrug,
                        "Is Drunk": isDrunk,
                        "BAC": BAC,
                        "Case Date": case_date,
                        "Make Name": make_name,
                        "Model Name": mod_name,
                        "Model Year": mod_year,
                        "State": state,
                        "County": county
                    }
                )
        except Exception as e:
            print(idx)
            print(row)
            print("Cannot retrieve data. The following error occurred", e)

# Number of workers (threads) to run in parallel
num_workers = 10

# Calculate the range for each worker
total_rows = len(df_filtered)
chunk_size = total_rows // num_workers
ranges = [(i * chunk_size, (i + 1) * chunk_size) for i in range(num_workers)]
# Adjust the last worker's upper range to cover remaining rows
ranges[-1] = (ranges[-1][0], total_rows)

# Create a ThreadPoolExecutor
with concurrent.futures.ThreadPoolExecutor(max_workers=num_workers) as executor:
    # Submit jobs to the executor
    futures = [executor.submit(worker, lower, upper) for lower, upper in ranges]

    # Wait for all futures to complete
    concurrent.futures.wait(futures)

# At this point, all workers have finished and populated the people_involved list

Starting the 0th run
Starting the 53500th run
Starting the 107000th run
Starting the 13500th run
Starting the 67000th run
Starting the 120500th run
Starting the 27000th run
Starting the 80500th run
Starting the 40500th run
Starting the 94000th run
Starting the 500th run
Starting the 54000th run
Starting the 107500th run
Starting the 14000th run
Starting the 67500th run
Starting the 27500th run
Starting the 121000th run
Starting the 81000th run
Starting the 41000th run
Starting the 94500th run
Starting the 1000th run
Starting the 54500th run
Starting the 14500th run
Starting the 108000th run
Starting the 68000th run
Starting the 28000th run
Starting the 121500th run
Starting the 81500th run
Starting the 41500th run
Starting the 1500th run
Starting the 95000th run
Starting the 55000th run
Starting the 15000th run
Starting the 68500th run
Starting the 108500th run
Starting the 28500th run
Starting the 82000th run
Starting the 122000th run
Starting the 42000th run
Starting the 2000th run
Starting the 95500th run
Starting the 55500th run
Starting the 15500th run
Starting the 69000th run
Starting the 29000th run
Starting the 109000th run
Starting the 82500th run
Starting the 42500th run
Starting the 2500th run
Starting the 122500th run
Starting the 96000th run
Starting the 56000th run
Starting the 16000th run
Starting the 29500th run
Starting the 69500th run
Starting the 109500th run
Starting the 43000th run
Starting the 83000th run
Starting the 3000th run
Starting the 123000th run
Starting the 56500th run
Starting the 96500th run
Starting the 16500th run
Starting the 30000th run
Starting the 70000th run
Starting the 43500th run
Starting the 110000th run
Starting the 3500th run
Starting the 83500th run
Starting the 57000th run
Starting the 123500th run
Starting the 17000th run
Starting the 97000th run
Starting the 30500th run
Starting the 70500th run
Starting the 44000th run
Starting the 4000th run
Starting the 84000th run
Starting the 110500th run
Starting the 57500th run
Starting the 17500th run
Starting the 124000th run
Starting the 97500th run
Starting the 31000th run
Starting the 71000th run
Starting the 44500th run
Starting the 4500th run
Starting the 84500th run
Starting the 111000th run
Starting the 18000th run
Starting the 58000th run
Starting the 124500th run
Starting the 98000th run
Starting the 31500th run
Starting the 71500th run
Starting the 45000th run
Starting the 5000th run
Starting the 85000th run
Starting the 18500th run
Starting the 58500th run
Starting the 111500th run
Starting the 32000th run
Starting the 125000th run
Starting the 98500th run
Starting the 72000th run
Starting the 5500th run
Starting the 45500th run
Starting the 85500th run
Starting the 19000th run
Starting the 59000th run
Starting the 112000th run
Starting the 32500th run
Starting the 125500th run
Starting the 99000th run
Starting the 72500th run
Starting the 6000th run
Starting the 46000th run
Starting the 86000th run
Starting the 19500th run
Starting the 59500th run
Starting the 112500th run
Starting the 33000th run
Starting the 73000th run
Starting the 126000th run
Starting the 6500th run
Starting the 99500th run
Starting the 46500th run
Starting the 20000th run
Starting the 86500th run
Starting the 60000th run
Starting the 33500th run
Starting the 113000th run
Starting the 7000th run
Starting the 73500th run
Starting the 47000th run
Starting the 126500th run
Starting the 100000th run
Starting the 20500th run
Starting the 87000th run
Starting the 60500th run
Starting the 34000th run
Starting the 113500th run
Starting the 7500th run
Starting the 74000th run
Starting the 47500th run
Starting the 127000th run
Starting the 100500th run
Starting the 21000th run
Starting the 61000th run
Starting the 87500th run
Starting the 34500th run
Starting the 8000th run
Starting the 114000th run
Starting the 48000th run
Starting the 74500th run
Starting the 21500th run
Starting the 127500th run
Starting the 101000th run
Starting the 61500th run
Starting the 88000th run
Starting the 35000th run
Starting the 8500th run
Starting the 48500th run
Starting the 114500th run
Starting the 75000th run
Starting the 22000th run
Starting the 62000th run
Starting the 128000th run
Starting the 101500th run
Starting the 88500th run
Starting the 35500th run
Starting the 9000th run
Starting the 49000th run
Starting the 75500th run
Starting the 115000th run
Starting the 22500th run
Starting the 62500th run
Starting the 89000th run
Starting the 102000th run
Starting the 128500th run
Starting the 36000th run
Starting the 9500th run
Starting the 49500th run
Starting the 76000th run
Starting the 23000th run
Starting the 115500th run
Starting the 63000th run
Starting the 89500th run
Starting the 102500th run
Starting the 129000th run
Starting the 36500th run
Starting the 10000th run
Starting the 50000th run
Starting the 23500th run
Starting the 76500th run
Starting the 116000th run
Starting the 63500th run
Starting the 90000th run
Starting the 37000th run
Starting the 103000th run
Starting the 129500th run
Starting the 10500th run
Starting the 50500th run
Starting the 24000th run
Starting the 77000th run
Starting the 64000th run
Starting the 116500th run
Starting the 90500th run
Starting the 37500th run
Starting the 11000th run
Starting the 103500th run
Starting the 130000th run
Starting the 51000th run
Starting the 24500th run
Starting the 77500th run
Starting the 64500th run
Starting the 117000th run
Starting the 91000th run
Starting the 38000th run
Starting the 11500th run
Starting the 104000th run
Starting the 130500th run
Starting the 51500th run
Starting the 25000th run
Starting the 78000th run
Starting the 65000th run
Starting the 91500th run
Starting the 38500th run
Starting the 117500th run
Starting the 12000th run
Starting the 52000th run
Starting the 25500th run
Starting the 104500th run
Starting the 131000th run
Starting the 78500th run
Starting the 65500th run
Starting the 39000th run
Starting the 92000th run
Starting the 12500th run
Starting the 118000th run
Starting the 52500th run
Starting the 26000th run
Starting the 105000th run
Starting the 131500th run
Starting the 79000th run
Starting the 66000th run
Starting the 39500th run
Starting the 13000th run
Starting the 92500th run
Starting the 118500th run
Starting the 53000th run
Starting the 26500th run
Starting the 105500th run
Starting the 132000th run
Starting the 79500th run
Starting the 66500th run
Starting the 40000th run
Starting the 93000th run
Starting the 119000th run
Starting the 106000th run
Starting the 80000th run
Starting the 132500th run
Starting the 93500th run
Starting the 119500th run
Starting the 106500th run
Starting the 133000th run
Starting the 120000th run
Starting the 133500th run

In [74]:
print(people_involved[0])

{'St Case Num': '121949', 'Age': '46', 'Sex': '1', 'Race': None, 'Seat Pos': 'Front Seat, Left Side', 'AirBag Deployed': True, 'Is Fatal': True, 'Is Drug': 'No (drugs not involved)', 'Is Drunk': 'Yes (Alcohol Involved)', 'BAC': '0.220 % BAC', 'Case Date': '2021-07-30', 'Make Name': 'Chevrolet', 'Model Name': 'Chevrolet TrailBlazer (2003 on; for 2002 model, see 401)', 'Model Year': '2005', 'State': 'Florida', 'County': 'LEON (73)'}

In [77]:
print(len(people_involved))

292869